  <ul id="nav">
    <li><%= link_to 'Home', root_path, data: { turbolinks: false }%></li>
    <li><%= link_to 'Personal', home_personal_path , data: { turbolinks: false }%></li>
    <li><%= link_to 'Life', home_life_path , data: { turbolinks: false }%></li>
    <li><%= link_to 'Contact', home_contact_path , data: { turbolinks: false }%></li>
  </ul>