// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*.w190{width:190px;}*/
.imgWrap{position:relative;z-index:90;margin:20px;}
.imgWrap .bg1{position:absolute;right:-3px;bottom:-3px;background-color:#E3E3E3;width:100%;height:100%;z-index:91;}
.imgWrap .bg2{position:absolute;left:-3px;top:-3px;background-color:#fff;width:100%;height:100%;border:1px solid #E3E3E3;z-index:92;}
.imgWrap .imgDiv{width:100%;height:100%;position:relative;z-index:98;}
.imgWrap .imgDiv div{width:100%;height:100%;padding:10px 13px 13px 7px;}
.imgWrap .imgDiv div img{}
.imgWrap .info{position:relative;z-index:99;padding:10px;}

body {
  -ms-overflow-style: none;
}

body::-webkit-scrollbar { width: 0 !important }
